{{extend 'layout.html'}}

<h1>About Plugin Latex</h1>
<p>
This plugin allows to embed latex expressions in pages and wikis. For example $\int _a^b \sin(x) dx$ (requires Firefox).
</p>


<h1>Required plugin (including plugin source code)</h1>

You need this. Just upload it through the web2py plugin interface for your app.

<a href="{{=URL(r=request,c='static',f='web2py.plugin.%s.w2p' % request.function)}}">download</a>

<h2>Example of Symbols</h2>

<style>
button { width:40px; height:40px; }
</style>
{{include 'plugin_latex/symbols.html'}}
