<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<link rel="stylesheet" type="text/css" href="styles.css" />

<title>Site title</title>

</head>

<body>

<div id="container">
		<div id="header">
			<h1>Sitename.com</h1>
			<h2>Break through with spyka.net</h2>
		</div>
		<div id="menu">
			<ul>
				<li><a href="index.html" title="Home page" class="current">Home</a></li>
				<li><a href="page.html" title="Our services">Services</a></li>
				<li><a href="#" title="About us">About us</a></li>
				<li><a href="#" title="Support">Support</a></li>
				<li><a href="#" title="Contact us">Contact us</a></li>
			</ul>
		</div>
		<div id="content">
			<div id="sidebar">
			
				<h4>Navigate</h4>
				<ul>
					<li><a href="#" title="Portfolio">Portfolio</a></li>
					<li><a href="#" title="Solutions">Solutions</a></li>
					<li><a href="#" title="Quote">Quote</a></li>
				</ul>
				
				<h4>Links</h4>
				<ul>
					<li><a href="http://www.spyka.net" title="spyka.net Webmaster resources">spyka.net </a></li>
					<li><a href="http://www.justfreetemplates.com" title="free web templates">JustFreeTemplates</a></li>
					<li><a href="http://www.spyka.net/forums" title="webmaster forums">Webmaster forums</a></li>
					<li><a href="http://www.profileartist.net" title="premium templates">Premium templates</a></li>
				</ul>

			</div>
			<div id="page">
				<h2>Welcome</h2>
				<p>Welcome to a template by <a href="http://www.spyka.net" title="spyka.net Webmaster">spyka.net Webmaster</a>. This is a very simple, lightweight and imageless dual column layout. Tested in:</p>
			  <ul>
				<li>Firefox 2.0.0.10</li>
				<li>Internet Explorer 7 &amp; 6 </li>
				<li>Opera 9</li>
			  </ul>
			  <p> This template is free to use as long as the link to spyka.net is kept in the footer. You can remove this link by buying a template license at a cost of £3.30 from <a href="http://www.spyka.net/licence">our website</a>. You must not redistribute this template unless given written permission by us and you cannot claim it as your own work. </p>
			  <p>We can customise this template for you from £10, check out <a href="http://www.spyka.net/services">spyka.net/services</a> for more info</p>
			  <p><strong>Design note:</strong>This template assumes that the right hand content column will be longer than the left hand sidebar, if this is not the case, the line between the two columns will not stretch the full length of the content.</p>
			  
			  <h2>Forums</h2>
			  <p>You can get help with editing and using this template, as well as design tips, tricks and advice in our <a href="http://www.spyka.net/forums">webmaster forums</a></p>
			  <h2>Page heading</h2>
			  <p>Your standard paragraph. Quisque a elit. Nullam bibendum posuere neque. Integer pede nibh, tristique vel, iaculis id, rutrum condimentum, massa. In condimentum, quam nec molestie auctor, quam mauris sagittis augue, nec lobortis sem dolor eu libero. Maecenas blandit arcu varius massa.</p>
			  <h3>Sub heading</h3>
			  <blockquote><p>Here is an example of a blockquote</p></blockquote>
			</div>
		</div>
	<div id="footer">
		<p>&copy; Your site. Design: <a href="http://www.spyka.net" title="spyka.net Webmaster">spyka.net</a> available from <a href="http://www.justfreetemplates.com" title="free web templates">Just Free Templates</a></p>
	</div>

</div>


</body>
</html>
