<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Template Design by TheWebhub.com | http://www.thewebhub.com | Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Corporate Office - Template Design by TheWebHub.com</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1>Corporate office </h1>
		<h2>Template Design by TheWebHub.com</h2>
	</div>
	<div id="menu">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
	<div id="content">
		<div id="left">
			<div class="post">
				<h2>About Corporate Office </h2>
				<p>This template was coded using valid <a href="http://validator.w3.org/check?uri=referer">XHTML 1.0 Transitional</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS 2.1</a> markups, which is distributed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/ph/">Creative Commons Attribution-Share Alike 3.0 Philippines</a>. In a nutshell, you are free to:</p>
				<ul>
					<li><strong>to Share</strong> - to copy, distribute and transmit the work</li>
					<li><strong>to Remix</strong> - to adapt the work</li>
				</ul>
				<p>Under the following conditions:</p>
				<ul>
					<li><strong>Attribution</strong> - you must link back to <a href="http://www.thewebhub.com/"><strong>my site</strong></a> (the footer has already my link and that's fine.)</li>
					<li><strong>Share Alike</strong> - if you alter, transform, or  build upon this work, you may distribute the resulting work only under  the same, similar or a compatible license.</li>
				</ul>
				Site Credits:
				<p><a href="http://www.thewebhub.com/"><strong>TheWebHub.com</strong></a> would like to thank:</p>
				<ul>
					<li><a href="http://www.famfamfam.com/">FAMFAMFAM</a> for designing very useful 16x16 pixel icons and for releasing them to the public.</li>
					<li><a href="http://www.sxc.hu/profile/asterisc21">Asterisc21</a> for the photos used in the header. </li>
				</ul>
			</div>
			<div class="post">
				<h2>Aenean elementum facilisis</h2>
				<p>Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. Nullam et orci in erat viverra ornare. Nunc pellentesque. </p>
			</div>
		</div>
		<div id="right">
			<h2>Recent Updates</h2>
			<p><strong>January 20, 2009 </strong> 
				Etiam odio mi, suscipit et, rhoncus ac, lacinia, nisl. Aliquam gravida massa eu arcu. Quisque pellentesque massa. <a href="#">More&#8230;</a></p>
			<p><strong>January 14, 2009 </strong>				Fusce mollis tristique sem. Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. <a href="#">More&#8230;</a></p>
			<p><strong>January 09, 2009 </strong>				Nunc pellentesque. Sed vestibulum blandit nisl. Quisque elementum convallis purus. Suspendisse potenti. <a href="#">More&#8230;</a></p>
			<p><strong>January 02, 2009 </strong> Nunc pellentesque. Sed vestibulum blandit nisl. Quisque elementum convallis purus. Suspendisse potenti. <a href="#">More&#8230;</a></p>
			<h2>Ipsum Dolorem</h2>
			<ul>
				<li><a href="#">Etiam rhoncus volutpat erat</a></li>
				<li><a href="#">Donec dictum metus in sapien</a></li>
				<li><a href="#">Integer gravida nibh quis urna</a></li>
				<li><a href="#">Mauris vulputate dolor sit amet</a></li>
				<li><a href="#">Etiam posuere augue ametnisl</a></li>
				<li><a href="#">Integer gravida nibh quis urna</a></li>
				<li><a href="#">Mauris vulputate dolor sit amet</a></li>
				<li><a href="#">Etiam posuere augue ametnisl</a></li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<p class="copyright">Copyright &copy; 2006 Sitename.com. Template Designed by <a href="http://www.thewebhub.com/">TheWebHub.com</a>&nbsp;&nbsp;&nbsp;Free Icons by <a href="http://famfamfam.com/">FAMFAMFAM</a></p>
		<p class="links"><a href="http://validator.w3.org/check/referer" class="xhtml">Valid XHTML</a>&nbsp;&nbsp;&nbsp;<a href="http://jigsaw.w3.org/css-validator/check/referer" class="css">Valid CSS</a> </p>
	</div>
</div>
</body>
</html>
