<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Template Design by TheWebhub.com | http://www.thewebhub.com | Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines -->
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Template Design by TheWebhub.com</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header">
	<h1>efflorescence</h1>
</div>
<div id="menu">
	<ul>
		<li class="first"><a href="#">Home</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>
</div>
<div id="page">
	<div id="page-top">
		<div id="page-bottom">
		<div>
			<div id="sidebar">
				<h2>News and Updates</h2>
				<ul>
					<li>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</li>
					<li>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum.</li>
				</ul>
			</div>
			<div id="content">
				<h2>Welcome To My Website</h2>
				<p>This template was coded using valid <a href="http://validator.w3.org/check?uri=referer">XHTML 1.0 Transitional</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS 2.1</a> markups, which is distributed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/ph/">Creative Commons Attribution-Share Alike 3.0 Philippines</a>. In a nutshell, you are free to:</p>
				<ul>
					<li><strong>to Share</strong> - to copy, distribute and transmit the work</li>
					<li><strong>to Remix</strong> - to adapt the work</li>
				</ul>
				<p>Under the following conditions:</p>
				<ul>
					<li><strong>Attribution</strong> - you must link back to <a href="http://www.thewebhub.com/"><strong>my site</strong></a> (the footer has already my link and that's fine.)</li>
					<li><strong>Share Alike</strong> - if you alter, transform, or  build upon this work, you may distribute the resulting work only under  the same, similar or a compatible license.</li>
				</ul>
				<p>TheWebHub.com would like to thank <a href="http://www.sxc.hu/profile/alicja_sto">alicja_sto</a> for the photo use in this template. </p>
				<h2>Consectetuer adipiscing</h2>
				<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet at, ultrices eget, ornare et, wisi. </p>
			</div>
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
</div>
<div id="footer">
	<p>Copyright © 2006 Sitename.com. Template Designed by <a href="http://www.thewebhub.com">TheWebHub.com</a>.</p>
</div>
</body>
</html>
