<button onclick="insertText('$$')">M</button>
<button onclick="insertText('\\mathbf{} ')">$\mathbf{A1}$</button>
<button onclick="insertText('\\mathit{} ')">$\mathit{A1}$</button>
<button onclick="insertText('\\mathrm{} ')">$\mathrm{A1}$</button>
<button onclick="insertText('\\textbf{} ')">$\textbf{A1}$</button>
<button onclick="insertText('\\textit{} ')">$\textit{A1}$</button>
<button onclick="insertText('\\textrm{} ')">$\textrm{A1}$</button>
<button onclick="insertText('\\texttt{} ')">$\texttt{A1}$</button>
<button onclick="insertText('\\pm ')">$\pm$</button>
<button onclick="insertText('\\mp ')">$\mp$</button>
<button onclick="insertText('\\times ')">$\times$</button>
<button onclick="insertText('\\ast ')">$\ast$</button>
<button onclick="insertText('\\div ')">$\div$</button>
<button onclick="insertText('\\setminus ')">$\setminus$</button>
<button onclick="insertText('\\amalg ')">$\amalg$</button>
<button onclick="insertText('\\dagger ')">$\dagger$</button>
<button onclick="insertText('\\ddagger ')">$\ddagger$</button>
<button onclick="insertText('\\wr ')">$\wr$</button>
<button onclick="insertText('\\diamond ')">$\diamond$</button>
<button onclick="insertText('\\cap ')">$\cap$</button>
<button onclick="insertText('\\sqcap ')">$\sqcap$</button>
<button onclick="insertText('\\triangleleft ')">$\triangleleft$</button>
<button onclick="insertText('\\cup ')">$\cup$</button>
<button onclick="insertText('\\sqcup ')">$\sqcup$</button>
<button onclick="insertText('\\vee ')">$\vee$</button>
<button onclick="insertText('\\triangleright ')">$\triangleright$</button>
<button onclick="insertText('\\bullet ')">$\bullet$</button>
<button onclick="insertText('\\oplus ')">$\oplus$</button>
<button onclick="insertText('\\otimes ')">$\otimes$</button>
<button onclick="insertText('\\odot ')">$\odot$</button>
<button onclick="insertText('\\cdot ')">$\cdot$</button>
<button onclick="insertText('\\uplus ')">$\uplus$</button>
<button onclick="insertText('\\bigsqcup ')">$\bigsqcup$</button>
<button onclick="insertText('\\bigtriangleup ')">$\bigtriangleup$</button>
<button onclick="insertText('\\bigtriangledown ')">$\bigtriangledown$</button>
<button onclick="insertText('\\bigcirc ')">$\bigcirc$</button>
<button onclick="insertText('\\bigoplus ')">$\bigoplus$</button>
<button onclick="insertText('\\bigotimes ')">$\bigotimes$</button>
<button onclick="insertText('\\bigodot ')">$\bigodot$</button>
<button onclick="insertText('\\therefore ')">$\therefore$</button>
<button onclick="insertText('\\cdots ')">$\cdots$</button>
<button onclick="insertText('\\ddots ')">$\ddots$</button>
<button onclick="insertText('\\vdots ')">$\vdots$</button>
<button onclick="insertText('\\partial ')">$\partial$</button>
<button onclick="insertText('\\Re ')">$\Re$</button>
<button onclick="insertText('\\Im ')">$\Im$</button>
<button onclick="insertText('\\forall ')">$\forall$</button>
<button onclick="insertText('\\exists ')">$\exists$</button>
<button onclick="insertText('\\top ')">$\top$</button>
<button onclick="insertText('\\angle ')">$\angle$</button>
<button onclick="insertText('\\infty ')">$\infty$</button>
<button onclick="insertText('\\wp ')">$\wp$</button>
<button onclick="insertText('\\sqsubset ')">$\sqsubset$</button>
<button onclick="insertText('\\sqsubseteq ')">$\sqsubseteq$</button>
<button onclick="insertText('\\subset ')">$\subset$</button>
<button onclick="insertText('\\subseteq ')">$\subseteq$</button>
<button onclick="insertText('\\in ')">$\in$</button>
<button onclick="insertText('\\notin ')">$\notin$</button>
<button onclick="insertText('\\sqsupset ')">$\sqsupset$</button>
<button onclick="insertText('\\sqsupseteq ')">$\sqsupseteq$</button>
<button onclick="insertText('\\supset ')">$\supset$</button>
<button onclick="insertText('\\supseteq ')">$\supseteq$</button>
<button onclick="insertText('\\ni ')">$\ni$</button>
<button onclick="insertText('{}\' ')">$a'$</button>
<button onclick="insertText('\\dot{} ')">$\dot{a}$</button>
<button onclick="insertText('\\hat{} ')">$\hat{a}$</button>
<button onclick="insertText('\\grave{} ')">$\grave{a}$</button>
<button onclick="insertText('\\tilde{} ')">$\tilde{a}$</button>
<button onclick="insertText('\\bar{} ')">$\bar{a}$</button>
<button onclick="insertText('{}\'\' ')">$a''$</button>
<button onclick="insertText('\\ddot{} ')">$\ddot{a}$</button>
<button onclick="insertText('\\check{} ')">$\check{a}$</button>
<button onclick="insertText('\\acute{} ')">$\acute{a}$</button>
<button onclick="insertText('\\breve{} ')">$\breve{a}$</button>
<button onclick="insertText('\\vec{} ')">$\vec{a}$</button>
<button onclick="insertText('^{\\circ}',0)">$a^{\circ}$</button>
<button onclick="insertText('\\widetilde{}',11)">$\widetilde{abc}$</button>
<button onclick="insertText('\\widehat{}',9)">$\widehat{abc}$</button>
<button onclick="insertText('\\overleftarrow{}',15)">$\overleftarrow{abc}$</button>
<button onclick="insertText('\\overrightarrow{}',16)">$\overrightarrow{abc}$</button>
<button onclick="insertText('\\overline{}',10)">$\overline{abc}$</button>
<button onclick="insertText('\\underline{}',11)">$\underline{abc}$</button>
<button onclick="insertText('\\overbrace{}',11)">$\overbrace{abc}$</button>
<button onclick="insertText('\\underbrace{}',12)">$\underbrace{abc}$</button>
<button onclick="insertText('\\mapsto ')">$x \mapsto x^2$</button>
<button onclick="insertText('\\leftarrow ')">$\leftarrow$</button>
<button onclick="insertText('\\Leftarrow ')">$\Leftarrow$</button>
<button onclick="insertText('\\leftrightarrow ')">$\leftrightarrow$</button>
<button onclick="insertText('\\to ')">$n \to \infty$</button>
<button onclick="insertText('\\rightarrow ')">$\rightarrow$</button>
<button onclick="insertText('\\Rightarrow ')">$\Rightarrow$</button>
<button onclick="insertText('\\Leftrightarrow ')">$\Leftrightarrow$</button>
<button onclick="insertText('^{}',2,0)">$x^a$</button>
<button onclick="insertText('_{}',2,0)">$x_a$</button>
<button onclick="insertText('_{}^{}',2,0)">$x_a^b$</button>
<button onclick="insertText('{_{}}^{}',1)">${x_a}^b$</button>
<button onclick="insertText('_{}^{}\\textrm{}',2,14)">$_a^{b}\textrm{C}$</button>
<button onclick="insertText('\\frac{}{}',6)">$\frac{a}{b}$</button>
<button onclick="insertText('\\frac{\\partial }{\\partial x}',15)">$\frac{\partial }{\partial x}$</button>
<button onclick="insertText('\\frac{\\partial^2 }{\\partial x^2}',17)">$\frac{\partial^2 }{\partial x^2}$</button>
<button onclick="insertText('\\frac{\\mathrm{d} }{\\mathrm{d} x}',17)">$\frac{\mathrm{d} }{\mathrm{d} x}$</button>
<button onclick="insertText('\\int ')">$\int$</button>
<button onclick="insertText('\\int_{}^{}',6,1000)">$\int_a^b$</button>
<button onclick="insertText('\\oint ')">$\oint$</button>
<button onclick="insertText('\\oint_{}^{}',7,1000)">$\oint_a^b$</button>
<button onclick="insertText('\\bigcap ')">$\bigcap$</button>
<button onclick="insertText('\\bigcap_{}^{}',9,1000)">$\bigcap_a^b$</button>
<button onclick="insertText('\\bigcup ')">$\bigcup$</button>
<button onclick="insertText('\\bigcup_{}^{}',9,1000)">$\bigcup_a^b$</button>
<button onclick="insertText('\\lim_{} ')">$\displaystyle \lim_{x \to 0}$</button>
<button onclick="insertText('\\sum ')">$\sum$</button>
<button onclick="insertText('\\sum_{}^{}',6)">$\sum_a^b$</button>
<button onclick="insertText('\\sqrt{}',6,6)">$\sqrt{x}$</button>
<button onclick="insertText('\\sqrt[]{}',6,8)">$\sqrt[n]{x}$</button>
<button onclick="insertText('\\prod ')">$\prod$</button>
<button onclick="insertText('\\prod_{}^{}',7,1000)">$\prod_a^b$</button>
<button onclick="insertText('\\coprod ')">$\coprod$</button>
<button onclick="insertText('\\coprod_{}^{}',9,1000)">$\coprod_a^b$</button>
<button onclick="insertText('\\left (  \\right )',8)">$\left (\: \right )$</button>
<button onclick="insertText('\\left [  \\right ]',8)">$\left [\: \right ]$</button>
<button onclick="insertText('\\left \\{  \\right \\}',9)">$\left\{\: \right\}$</button>
<button onclick="insertText('\\left |  \\right |',8)">$\left |\: \right |$</button>
<button onclick="insertText('\\left \\{  \\right.',9)">$\left \{ \cdots \right.$</button>
<button onclick="insertText('\\left \\langle  \\right \\rangle',14)">$\left \langle \: \right \rangle$</button>
<button onclick="insertText('\\left \\lfloor  \\right \\rfloor',14)">$\left \lfloor \: \right \rfloor$</button>
<button onclick="insertText('\\left \\lceil  \\right \\rceil',13)">$\left \lceil \: \right \rceil$</button>
<button onclick="insertText('\\left.  \\right \\}',7)">$\left. \cdots \right \}$</button>
<button onclick="insertText('\\alpha ')">$\alpha$</button>
<button onclick="insertText('\\epsilon ')">$\epsilon$</button>
<button onclick="insertText('\\theta ')">$\theta$</button>
<button onclick="insertText('\\lambda ')">$\lambda$</button>
<button onclick="insertText('\\pi ')">$\pi$</button>
<button onclick="insertText('\\sigma ')">$\sigma$</button>
<button onclick="insertText('\\phi ')">$\phi$</button>
<button onclick="insertText('\\omega ')">$\omega$</button>
<button onclick="insertText('\\beta ')">$\beta$</button>
<button onclick="insertText('\\varepsilon ')">$\varepsilon$</button>
<button onclick="insertText('\\vartheta ')">$\vartheta$</button>
<button onclick="insertText('\\mu ')">$\mu$</button>
<button onclick="insertText('\\varpi ')">$\varpi$</button>
<button onclick="insertText('\\varsigma ')">$\varsigma$</button>
<button onclick="insertText('\\varphi ')">$\varphi$</button>
<button onclick="insertText('\\gamma ')">$\gamma$</button>
<button onclick="insertText('\\zeta ')">$\zeta$</button>
<button onclick="insertText('\\iota ')">$\iota$</button>
<button onclick="insertText('\\nu ')">$\nu$</button>
<button onclick="insertText('\\rho ')">$\rho$</button>
<button onclick="insertText('\\tau ')">$\tau$</button>
<button onclick="insertText('\\chi ')">$\chi$</button>
<button onclick="insertText('\\delta ')">$\delta$</button>
<button onclick="insertText('\\eta ')">$\eta$</button>
<button onclick="insertText('\\kappa ')">$\kappa$</button>
<button onclick="insertText('\\xi ')">$\xi$</button>
<button onclick="insertText('\\varrho ')">$\varrho$</button>
<button onclick="insertText('\\upsilon ')">$\upsilon$</button>
<button onclick="insertText('\\psi ')">$\psi$</button>
<button onclick="insertText('\\Gamma ')">$\Gamma$</button>
<button onclick="insertText('\\Theta ')">$\Theta$</button>
<button onclick="insertText('\\Xi ')">$\Xi$</button>
<button onclick="insertText('\\Sigma ')">$\Sigma$</button>
<button onclick="insertText('\\Phi ')">$\Phi$</button>
<button onclick="insertText('\\Omega ')">$\Omega$</button>
<button onclick="insertText('\\Delta ')">$\Delta$</button>
<button onclick="insertText('\\Lambda ')">$\Lambda$</button>
<button onclick="insertText('\\Pi ')">$\Pi$</button>
<button onclick="insertText('\\Upsilon ')">$\Upsilon$</button>
<button onclick="insertText('\\Psi ')">$\Psi$</button>
<button onclick="insertText('&lt; ')">$<$</button>
<button onclick="insertText('\\leq ')">$\leq$</button>
<button onclick="insertText('\\prec ')">$\prec$</button>
<button onclick="insertText('\\preceq ')">$\preceq$</button>
<button onclick="insertText('\\ll ')">$\ll$</button>
<button onclick="insertText('\\vdash ')">$\vdash$</button>
<button onclick="insertText('\\smile ')">$\smile$</button>
<button onclick="insertText('\\models ')">$\models$</button>
<button onclick="insertText('\\mid ')">$\mid$</button>
<button onclick="insertText('\\bowtie ')">$\bowtie$</button>
<button onclick="insertText('&gt; ')">$>$</button>
<button onclick="insertText('\\geq ')">$\geq$</button>
<button onclick="insertText('\\succ ')">$\succ$</button>
<button onclick="insertText('\\succeq ')">$\succeq$</button>
<button onclick="insertText('\\gg ')">$\gg$</button>
<button onclick="insertText('\\dashv ')">$\dashv$</button>
<button onclick="insertText('\\frown ')">$\frown$</button>
<button onclick="insertText('\\perp ')">$\perp$</button>
<button onclick="insertText('\\Join ')">$\Join$</button>
<button onclick="insertText('= ')">$=$</button>
<button onclick="insertText('\\neq ')">$\neq$</button>
<button onclick="insertText('\\equiv ')">$\equiv$</button>
<button onclick="insertText('\\doteq ')">$\doteq$</button>
<button onclick="insertText('\\sim ')">$\sim$</button>
<button onclick="insertText('\\approx ')">$\approx$</button>
<button onclick="insertText('\\simeq ')">$\simeq$</button>
<button onclick="insertText('\\cong ')">$\cong$</button>
<button onclick="insertText('\\asymp ')">$\asymp$</button>
<button onclick="insertText('\\propto ')">$\propto$</button>
<!--button onclick="insertText('\\begin{array}{cc} { } & { } \\\\ { } & { } \\end{array}')">2x2</button>
<button onclick="insertText('\\begin{array}{cc} { } & { } & { } \\\\ { } & { } & { } \\\\ { } & { } & { } \\end{array}')">3x3</button>
<button onclick="insertText('\\begin{array}{cc} { } & { } & { } & { } \\\\ { } & { } & { } & { } \\\\ { } & { } & { } & { } `\\end{array}')">4x4</button//-->
