<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Fun Ride
Version    : 1.0
Released   : 20070527
Description: A two-column fixed-width template suitable for small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Fun Ride by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Fun Ride</a></h1>
			<h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
		</div>
		<!-- end div#logo -->
		<div id="menu">
			<ul>
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<!-- end div#menu -->
	</div>
	<!-- end div#header -->
	<div id="page">
		<div id="content">
			<div id="welcome">
				<h1>Welcome to Fun Ride!</h1>
				<p><strong>Fun Ride!</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. You're free to use it for both commercial or personal use. I only ask that you link back to my site in some way. <em>Enjoy :)</em></p>
				<ol>
					<li><a href="#">Integer sit amet pede vel arcu aliquet pretium.</a></li>
					<li><a href="#">Pellentesque quis elit non lectus gravida blandit.</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
					<li><a href="#">Phasellus nec erat sit amet nibh pellentesque congue.</a></li>
					<li><a href="#">Cras vitae metus aliquam risus pellentesque pharetra.</a></li>
					<li><a href="#">Maecenas vitae orci vitae tellus feugiat eleifend.</a></li>
					<li><a href="#">Etiam ac tortor eu metus euismod lobortis.</a></li>
					<li><a href="#">Duis non ante in metus commodo euismod lobortis.</a></li>
				</ol>
			</div>
			<!-- end div#welcome -->
			<div id="sample1" class="boxed">
				<h2>Sample One</h2>
				<ul>
					<li><a href="#">Ut semper vestibulum est</a></li>
					<li><a href="#">Vestibulum luctus venenatis </a></li>
					<li><a href="#">Etiam malesuada enim</a></li>
					<li><a href="#">Aenean elementum facilisis </a></li>
					<li><a href="#">Ut tincidunt elit vitae augue</a></li>
					<li><a href="#">Sed quis odio sagittis leo </a></li>
				</ul>
			</div>
			<!-- end div#sample1 -->
			<div id="sample2" class="boxed">
				<h2>Sample Two</h2>
				<p>Quisque dictum nisl risus, sagittis, rutrum id, and nibh:</p>
				<ul>
					<li><a href="#">Integer rutrum nisl in mi</a></li>
					<li><a href="#">Etiam malesuada enim</a></li>
					<li><a href="#">Aenean elementum facilisis </a></li>
				</ul>
			</div>
			<!-- end div#sample2 -->
		</div>
		<!-- end div#content -->
		<div id="sidebar">
			<ul>
				<li id="submenu">
					<h2>Other Links</h2>
					<ul>
						<li><a href="#">Semper vestibulum</a></li>
						<li><a href="#">Vestibulum luctus</a></li>
						<li><a href="#">Integer rutrum</a></li>
						<li><a href="#">Etiam malesuada</a></li>
						<li><a href="#">Elementum facilisis</a></li>
						<li><a href="#">Ut tincidunt</a></li>
						<li><a href="#">Odio sagittis</a></li>
					</ul>
				</li>
				<!-- end li#submenu -->
				<li id="news">
					<h2>News &amp; Updates</h2>
					<ul>
						<li>
							<h3>25th May</h3>
							<p><a href="#">Pellentesque quis elit non lectus gravida blandit&hellip;</a></p>
						</li>
						<li>
							<h3>23rd May</h3>
							<p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing&hellip;</a></p>
						</li>
						<li>
							<h3>21st May</h3>
							<p><a href="#">Phasellus nec erat sit amet nibh pellentesque congue&hellip;</a></p>
						</li>
						<li>
							<h3>17th May</h3>
							<p><a href="#">Maecenas vitae orci vitae tellus feugiat eleifend&hellip;</a></p>
						</li>
					</ul>
				</li>
				<!-- end li#news -->
			</ul>
		</div>
		<!-- end div#sidebar -->
		<div style="clear: both; height: 1px"></div>
	</div>
	<!-- end div#page -->
	<div id="footer">
		<p id="legal">Copyright &copy; 2007 Fun Ride. All Rights Reserved. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
		<p id="links"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
	</div>
	<!-- end div#footer -->
</div>
<!-- end div#wrapper -->
</body>
</html>
