<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Template Design by TheWebhub.com | http://www.thewebhub.com | Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines -->
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Template Design by TheWebhub.com</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" media="screen" /></head>
<body>
<div id="header">
  <h1>hexahedron</h1>
  <h2>Design by TheWebHub  </h2>
</div>
<div id="menu">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</div>
<div id="content-wrap">
  <div id="content">
    <div id="columnA">
      <h2>Welcome to Sitename.com!</h2>
      <div class="content bg1"><p>ORANGEFLOWER  is a free CSS web template coded with valid <strong><a href="http://validator.w3.org/check/referer">XHTML 1.0 Transitional</a></strong> and <strong><a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A//www.thewebhub.com/preview/lightspeed/index.html&amp;profile=css21&amp;usermedium=all&amp;warning=1&amp;lang=en">CSS 2.1 standards</a></strong> that uses pure CSS and no tables for layout. This design is released under the <span class="legal"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/ph/">Creative Commons Attribution-Share Alike 3.0 Philippines License</a></span>, which basically says that:</p>
      <ul>
        <li>&raquo;&nbsp;You <strong>CAN</strong> use, copy, distribute and transmit this template.</li>
        <li>&raquo;&nbsp;You <strong>CAN</strong> modify this template however you want.</li>
      </ul>
      <p>In return, we only ask that you keep the attribution link in the footer intact or if you modify it, just add a link back to our site in any way you like.</p></div>
      <h2>aDDITIONAL THANKS TO: </h2>
      <div class="content bg1"><p>TheWebHub.com would like to thank the following:</p>
      <p><a href="http://www.sxc.hu/profile/jamie84">Jamie84</a> for the stock photo used in the header of this template. </p>
      <ul><li>Aliquam gravida massa eu arcu. Fusce mollis tristique sem. Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. Curabitur malesuada turpis nec ante. Suspendisse quis felis. Suspendisse potenti. Nullam et orci in erat viverra ornare. Nunc pellentesque. Sed vestibulum blandit nisl. Quisque elementum convallis purus.Sed vestibulum blandit nisl. Quisque elementum convallis purus.</li>
      </ul></div>
    </div>
    <div id="columnB">
      <h2>Recent Updates</h2>
      <div class="content bg1"><p><strong>Lorem Ipsum Dolor Amit </strong> <br />
      Etiam odio mi, suscipit et, rhoncus ac, lacinia, nisl. Aliquam gravida massa eu arcu. <a href="#">More&#8230;</a></p>
      <p><strong>Lorem Ipsum Dolor Amit </strong><strong><br />
      </strong>Fusce mollis tristique sem. Sed    interdum blandit.  Curabitur malesuada. <a href="#">More&#8230;</a></p>
      <p><strong>Lorem Ipsum Dolor Amit </strong><strong><br />
      </strong>Nunc pellentesque. Sed vestibulum blandit nisl. Quisque elementum convallis purus. Suspendisse potenti. Donec    in. <a href="#">More&#8230;</a></p>
      <p><strong>Lorem Ipsum Dolor Amit </strong> <br />
      Etiam odio mi, suscipit et, rhoncus ac, lacinia, nisl. Aliquam gravida massa eu arcu. <a href="#">More&#8230;</a></p></div>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>
<div id="footer">
  <p class="copyright">Copyright &copy; 2006 Sitename.com. Template Designed by <a href="http://www.thewebhub.com/">TheWebHub.com</a></p>
  <p class="links"><a href="http://validator.w3.org/check/referer" class="xhtml">Valid XHTML</a>&nbsp;&nbsp;&nbsp;<a href="http://jigsaw.w3.org/css-validator/check/referer" class="css">Valid CSS</a> </p>
</div>
</body>
</html>
