<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Hibiscus
Version    : 1.0
Released   : 20070801
Description: A two-column, fixed-width template with fluid header and footer background.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Hibiscus by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="#">Hibiscus</a></h1>
		<h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
	</div>
	<div id="menu">
		<ul>
			<li class="first"><a href="#">Home</a></li>
			<li><a href="#">Blogs</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</div>
<!-- end header -->
<div id="page">
	<div id="content">
		<div class="post">
			<p class="date"><strong>01 August 2007</strong></p>
			<h1 class="title">Welcome to Our Website!</h1>
			<div class="entry">
				<p><strong>Hibiscus</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The  header photo is from <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use it for both commercial or personal use. I only ask that you link back to <a href="http://www.freecsstemplates.org/">my site</a> in some way. <em>Enjoy :)</em></p>
			</div>
			<p class="meta"><a href="#" class="category">Uncategorized</a> <b>|</b> <a href="#" class="comments">22 Comments</a></p>
		</div>
		<div class="post vline">
			<p class="date">28 July 2007</p>
			<h2 class="title">Lorem Ipsum Dolorem</h2>
			<div class="entry">
				<blockquote>
					<p>&#8220;In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula.&#8221;</p>
				</blockquote>
				<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit.</p>
				<h3>Nullam ante orci pellentesque eget</h3>
				<p>tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdiet.</p>
			</div>
			<p class="meta"><a href="#" class="category">Uncategorized</a> <b>|</b> <a href="#" class="comments">22 Comments</a></p>
		</div>
	</div>
	<!-- end content -->
	<div id="sidebar">
		<ul>
			<li>
				<h2>Search</h2>
				<form method="get" action="">
					<fieldset>
					<input type="text" id="searchfield" name="s" value="" />
					<br />
					<input type="submit" id="searchsubmit" value="Search" />
					</fieldset>
				</form>
			</li>
			<li>
				<h2>Archives</h2>
				<ul>
					<li><a href="#">August 2007</a> (1)</li>
					<li><a href="#">July 2007</a> (31)</li>
					<li><a href="#">June 2007</a> (30)</li>
					<li><a href="#">May 2007</a> (31)</li>
					<li><a href="#">April 2007</a> (30)</li>
				</ul>
			</li>
			<li>
				<h2>Categories</h2>
				<ul>
					<li><a href="#">Ut semper vestibulum</a> (32)</li>
					<li><a href="#">Vestibulum luctus</a> (19)</li>
					<li><a href="#">Integer rutrum nisl</a> (33)</li>
					<li><a href="#">Etiam malesuada</a> (12)</li>
					<li><a href="#">Aenean elementum</a> (41)</li>
					<li><a href="#">Ut tincidunt elit</a> (18)</li>
					<li><a href="#">Sed quis odio</a> (30)</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
</div>
<!-- end page -->
<div id="footer">
	<p id="legal">&copy;2007 Hibiscus. All Rights Reserved. | Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
	<p id="links"><a href="#">Privacy</a> | <a href="#">Terms</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
</div>
</body>
</html>
