/*
Template Design by TheWebhub.com
http://www.thewebhub.com
Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines
*/


/** Common Styles */
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background: #277F33;
	line-height: 25px;
	text-align: justify;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

h1, h2, h3 {
	margin-top: 1.5em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 1.5em;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	color: #FFFFFF;
}

/** Header Style Starts Here */

#header {
	width: 920px;
	height: 300px;
	margin: 0 auto;
	padding: 0;
	background: url(images/image01.jpg) no-repeat left top;
}

#header h1, #header p {
	margin: 0;
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
}

#header h1 {
	padding: 120px 60px 10px 55px;
	text-transform: lowercase;
	font-size: 50px;
	font-weight: normal;
}

#header p {
	font-size: 18px;
	padding-right: 60px;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}


/** Menu Style Starts Here */


#menu {
	width: 920px;
	height: 55px;
	margin: 0 auto;
	padding: 0;
	background: url(images/image02.jpg) no-repeat left top;
}

#menu ul {
	margin: 0;
	list-style: none;
	padding-top: 13px;
	padding-left: 80px;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 0 20px;
	text-decoration: none;
	color: #FFFFFF;
}

#menu a:hover {
}

#menu .first a  {
	padding-left: 0;
}

/** Page Style Starts Here */

#page {
	width: 840px;
	margin: 0 auto;
	padding: 0;
}

#content {
	float: right;
	width: 520px;
}

#content h2 {
	margin: 0;
	padding: 20px 0 10px 0;
	border-bottom: 1px solid #1E5F27;
	text-transform: lowercase;
	font-size: 24px;
	font-weight: normal;
}

#sidebar {
	float: left;
	width: 260px;
	margin-bottom: 20px;
	background: url(images/image05.jpg) repeat-y left top;
}

#sidebar .bg-top {
	background: url(images/image04.jpg) no-repeat left top;
}

#sidebar .bg-btm {
	background: url(images/image06.jpg) no-repeat left bottom;
}


#sidebar h2 {
	margin: 0;
	padding: 20px 0 10px 30px;
	text-transform: lowercase;
	font-size: 24px;
	font-weight: normal;
}

#sidebar ul {
	margin: 0;
	padding: 0 0 40px 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 10px 0px;
	margin: 0 30px;
	border-bottom: 1px #277F33 solid;
}
/** Footer Style Starts Here */

#footer {
	width: 920px;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	background: url(images/image03.jpg) no-repeat left top;
}

#footer p {
	margin: 0;
	padding: 40px 0 0 0;
	text-align: center;
	font-size: 11px;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}


