<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : The Island
Version    : 1.0
Released   : 20070612
Description: A two-column, fixed-width, blue-themed template that can be easily converted into a blog theme.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>The Island by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1><a href="#">The Island</a></h1>
		<p><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></p>
	</div>
	<!-- end header -->
	<div id="menu">
		<h2>Main Menu</h2>
		<ul>
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Products</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Forums</a></li>
			<li><a href="#">Support</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
	<!-- end menu -->
	<div id="page">
		<div id="content">
			<h1 class="title"><span>Welcome to The Island!</span></h1>
			<p><strong>The Island</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The header photo is from <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use it for both commercial or personal use. I only ask that you link back to my site in some way. <em>Enjoy :)</em></p>
			<p>An ordered list example:</p>
			<ol>
				<li>List item number one</li>
				<li>List item number two</li>
				<li>List item number thre</li>
			</ol>
			<div class="boxed">
				<h2 class="title">Lorem Ipsum Dolor</h2>
				<div class="content">
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus.</p>
					<h3>Curabitur Sem Urna</h3>
					<p>Vel consequat, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdie:</p>
					<blockquote>
						<p>&ldquo;In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula.Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.&rdquo;</p>
					</blockquote>
				</div>
			</div>
		</div>
		<!-- end content -->
		<div id="sidebar">
			<ul>
				<li id="search">
					<form id="searchform" method="get" action="">
						<fieldset>
						<legend>Search</legend>
						<input id="searchfield" type="text" name="q" value="" />
						<input id="searchsubmit" type="submit" value="Search" />
						</fieldset>
					</form>
				</li>
				<li id="submenu">
					<h2>Other Links</h2>
					<ul>
						<li><a href="#">Semper vestibulum</a></li>
						<li><a href="#">Vestibulum luctus</a></li>
						<li><a href="#">Integer rutrum</a></li>
						<li><a href="#">Etiam malesuada</a></li>
						<li><a href="#">Elementum facilisis</a></li>
						<li><a href="#">Ut tincidunt</a></li>
						<li><a href="#">Odio sagittis</a></li>
					</ul>
				</li>
				<li id="news">
					<h2>News &amp; Updates</h2>
					<ul>
						<li>
							<h3>25th May</h3>
							<p><a href="#">Pellentesque quis elit non lectus gravida blandit&hellip;</a></p>
						</li>
						<li>
							<h3>23rd May</h3>
							<p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing&hellip;</a></p>
						</li>
						<li>
							<h3>21st May</h3>
							<p><a href="#">Phasellus nec erat sit amet nibh pellentesque congue&hellip;</a></p>
						</li>
						<li>
							<h3>17th May</h3>
							<p><a href="#">Maecenas vitae orci vitae tellus feugiat eleifend&hellip;</a></p>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end page -->
	<div id="footer">
		<p id="legal">Copyright &copy; 2007 The Island. All Rights Reserved. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
		<p id="links"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->
</body>
</html>
