<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Interlude
Version    : 1.0
Released   : 20080903
Description: A multi-column, fixed-width design for 800x600 resolutions.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Interlude Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="#">interlude</a></h1>
		<p><a href="http://www.freecsstemplates.org/">Design by Free CSS Templates</a></p>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Gallery</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact </a></li>
		</ul>
	</div>
</div>
<hr />
<!-- end header -->
<!-- start page -->
<div id="wrapper">
	<div id="page">
		<!-- start content -->
		<div id="content">
			<div class="post">
				<p class="date">September <b>03</b></p>
				<h2 class="title">Welcome to Our Website!</h2>
				<p class="meta"><small>Posted <a href="#">freewordpressthemes</a> | <a href="#">Edit</a> Filed under <a href="#">WordPress</a>, <a href="#">Internet</a> | <a href="#">No Comments &raquo;</a></small></p>
				<div class="entry">
					<p>This is <strong>Interlude</strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attributions 2.5</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :)</p>
					<p>This template is also available as a <a href="http://www.freewpthemes.net/preview/Interlude/">WordPress theme</a> at <a href="http://www.freewpthemes.net/">Free WordPress Themes</a>.</p>
				</div>
			</div>
			<div class="post">
				<p class="date">August <b>26</b></p>
				<h2 class="title">Praesent scelerisque scelerisque erat</h2>
				<p class="meta"><small>Posted <a href="#">freewordpressthemes</a> | <a href="#">Edit</a> Filed under <a href="#">WordPress</a>, <a href="#">Internet</a> | <a href="#">No Comments &raquo;</a></small></p>
				<div class="entry">
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. </p>
				</div>
			</div>
			<div class="post">
				<p class="date">August <b>22</b></p>
				<h2 class="title">Maecenas luctus lectus at sapien</h2>
				<p class="meta"><small>Posted <a href="#">freewordpressthemes</a> | <a href="#">Edit</a> Filed under <a href="#">WordPress</a>, <a href="#">Internet</a> | <a href="#">No Comments &raquo;</a></small></p>
				<div class="entry">
					<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. </p>
					<p>Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. <br />
					</p>
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- start sidebar -->
		<div id="sidebar">
			<ul>
				<li id="categories">
					<h2>Categories</h2>
					<ul>
						<li><a href="#">Lorem Ipsum</a> (1) </li>
						<li><a href="#">Uncategorized</a> (4) </li>
						<li><a href="#">Nulla luctus eleifend</a> (1) </li>
						<li><a href="#">Pellentesque tempus</a> (4) </li>
						<li><a href="#">Donec dictum metus</a> (1) </li>
						<li><a href="#">Etiam posuere augue</a> (4) </li>
					</ul>
				</li>
				<li id="calendar">
					<h2>Calendar</h2>
					<div id="calendar_wrap">
						<table id="wp-calendar" summary="Calendar">
							<caption>
							September 2008
							</caption>
							<thead>
								<tr>
									<th abbr="Monday" scope="col" title="Monday">M</th>
									<th abbr="Tuesday" scope="col" title="Tuesday">T</th>
									<th abbr="Wednesday" scope="col" title="Wednesday">W</th>
									<th abbr="Thursday" scope="col" title="Thursday">T</th>
									<th abbr="Friday" scope="col" title="Friday">F</th>
									<th abbr="Saturday" scope="col" title="Saturday">S</th>
									<th abbr="Sunday" scope="col" title="Sunday">S</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<td abbr="July" colspan="3" id="prev"><a href="#">&laquo; Jul</a></td>
									<td class="pad">&nbsp;</td>
									<td abbr="September" colspan="3" id="next" class="pad"><a href="#">Sep &raquo;</a></td>
								</tr>
							</tfoot>
							<tbody>
								<tr>
									<td colspan="2" class="pad">&nbsp;</td>
									<td>1</td>
									<td>2</td>
									<td>3</td>
									<td>4</td>
									<td>5</td>
								</tr>
								<tr>
									<td>6</td>
									<td>7</td>
									<td>8</td>
									<td>9</td>
									<td>10</td>
									<td>11</td>
									<td>12</td>
								</tr>
								<tr>
									<td>13</td>
									<td>14</td>
									<td>15</td>
									<td>16</td>
									<td>17</td>
									<td>18</td>
									<td>19</td>
								</tr>
								<tr>
									<td>20</td>
									<td id="today">21</td>
									<td>22</td>
									<td>23</td>
									<td>24</td>
									<td>25</td>
									<td>26</td>
								</tr>
								<tr>
									<td>27</td>
									<td>28</td>
									<td>29</td>
									<td>30</td>
									<td>31</td>
									<td class="pad" colspan="2">&nbsp;</td>
								</tr>
							</tbody>
						</table>
					</div>
				</li>
				<li>
					<h2>Lorem Ipsum Dolor</h2>
					<ul>
						<li><a href="#">Nulla luctus eleifend purus</a></li>
						<li><a href="#">Praesent scelerisque scelerisque erat</a></li>
						<li><a href="#">Ut nonummy rutrum sem</a></li>
						<li><a href="#">Pellentesque tempus quam quis nulla</a></li>
						<li><a href="#">Fusce ultrices fringilla metus</a></li>
						<li><a href="#">Praesent mattis condimentum nisl</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end sidebar -->
		<br style="clear: both;" />
	</div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="wrapper2">
	<div id="footer">
		<ul>
			<li class="first">
				<h2>Mauris vulputate dolor</h2>
				<ul>
					<li><a href="#">Nulla luctus eleifend purus</a></li>
					<li><a href="#">Praesent scelerisque scelerisque erat</a></li>
					<li><a href="#">Ut nonummy rutrum sem</a></li>
					<li><a href="#">Pellentesque tempus quam quis nulla</a></li>
					<li><a href="#">Fusce ultrices fringilla metus</a></li>
					<li><a href="#">Praesent mattis condimentum nisl</a></li>
				</ul>
			</li>
			<li>
				<h2>Praesent scelerisque sceler</h2>
				<ul>
					<li><a href="#">Nulla luctus eleifend purus</a></li>
					<li><a href="#">Praesent scelerisque scelerisque erat</a></li>
					<li><a href="#">Ut nonummy rutrum sem</a></li>
					<li><a href="#">Pellentesque tempus quam quis nulla</a></li>
					<li><a href="#">Fusce ultrices fringilla metus</a></li>
					<li><a href="#">Praesent mattis condimentum nisl</a></li>
				</ul>
			</li>
			<li>
				<h2>Fusce ultrices fringilla</h2>
				<ul>
					<li><a href="#">Nulla luctus eleifend purus</a></li>
					<li><a href="#">Praesent scelerisque scelerisque erat</a></li>
					<li><a href="#">Ut nonummy rutrum sem</a></li>
					<li><a href="#">Pellentesque tempus quam quis nulla</a></li>
					<li><a href="#">Fusce ultrices fringilla metus</a></li>
					<li><a href="#">Praesent mattis condimentum nisl</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<p id="legal"> &copy;2007 Interlude. All Rights Reserved.
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> &nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Icons by <a href="http://famfamfam.com/">FAMFAMFAM</a>.	<a href="http://validator.w3.org/check/referer" class="xhtml" title="This page validates as XHTML">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> &nbsp;&nbsp;&bull;&nbsp;&nbsp; <a href="http://jigsaw.w3.org/css-validator/check/referer" class="css" title="This page validates as CSS">Valid <abbr title="Cascading Style Sheets">CSS</abbr></a> </p>
</div>
<!-- end footer -->
</body>
</html>
